.form-feedback {
    color: #dd0000;
    font-size: 0.9em;
    display: block;
}

.entrar {
    width: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}